* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(0,0,0,0.6);
    height: 90px;
}

.navbar-list {
    display: flex;
    list-style: none;
    /* height: 100px; */
    /* justify-content: right; */
    float: right;
    margin-right: 100px;
    align-items: center;
    /* width: 100%; */
    text-align: right;
    position: absolute;
    right: 0px;
    /* background-color: rgb(0,0,0,0.6); */
    /* flex-wrap: nowrap; */
}

.navbar-items {
    /* background-color: black; */
    margin: 0px 40px;
    padding: 33px 0px;
}
.navbar-items-links {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    transition: all 0.4s ease-in-out;
}
.navbar-items:hover .navbar-items-links{
    border: 2px solid rgba(255, 255, 255, 0.734);
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: white;
    
}
.navbar-display-toggle{
    filter: blur(30px);
    /* enter the items which should not be shown when hamburger is clicked*/



}

@media all and (max-width: 768px) {
    .navbar-items{
        display: none;
        
    }
    .navbar{
        height: 60px;
    }
    .navbar.active{
        height: 100vh;
    }
    .navbar-list.active{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }

    .navbar-items.active{
        display: block;
    }
    .content.active{
        display: none;
    }
    #myVideo.active{
        height: 100%;
    }
    #intro-page.active{
        height: 0px;
    }
    .head-content.active{
        display: none;
    }
}
